:root {
  --color-primary1: #006640;
  --color-primary2: #00FFB2;
  --color-primary3: #148E72;
  --color-disabled: #D8E4DD;
  --color-font-primary: #3C3F39;
  --height-inputs: 30px;
  --font-size-titulo: 20px;
  --font-size-inputs: 13px;
  --form-paddx: 1rem;
}