// TITULO
.formPri {
  &-title {
    font-size: var(--font-size-titulo);
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0 var(--form-paddx);
  }

  .p-tabview {
    .p-tabview-nav-content {
      .p-tabview-nav {
        border-color: var(--color-primary2);

        .p-tabview-nav-link {
          border-width: 0 0 2px 0;
          padding: 0.5rem var(--form-paddx);
          border-color: var(--color-primary2);
        }

        .p-highlight .p-tabview-nav-link {
          border-color: var(--color-primary3);
        }
      }
    }

    .p-tabview-panels {
      padding: 0;
    }
  }

  &-titleTab {
    font-size: 14px;
    color: var(--color-primary3);
    font-weight: 600;

    i {
      margin-right: 10px;
      color: var(--color-primary1);
    }
  }

  // FORMULARIO
  &-templateForm {
    & .boton-secundary {
      height: var(--height-inputs);
    }

    &-item {
      border-bottom: 1px solid var(--color-primary2);

      &-subtitle {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        border-bottom: 3px solid var(--color-primary2);
        padding: 20px 16px;

        button {
          margin-left: 3rem;
        }
      }

      &-data {
        padding: 18px 16px;

        &-row:last-child {
          margin-bottom: 0;
        }

        .formGroup {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 1rem;

          label {
            font-size: var(--font-size-inputs);
            line-height: 1.1;
          }

          .p-inputtext {
            // ESTE ESTILO LO UTILIN LOS: INPUTS, DROPDOWN, 
            line-height: var(--height-inputs);
            font-size: var(--font-size-inputs);
            height: var(--height-inputs);
            padding: 0px 12px;

            &.input-info {
              &:disabled {
                background-color: #fff;
                border: none;
                padding: 0;
                color: var(--color-font-primary);
                opacity: 1;
              }
            }
          }

          .p-dropdown {
            width: 100%;
            height: var(--height-inputs);

            .p-dropdown-panel {
              font-size: var(--font-size-inputs);

              li {
                padding: 6px 14px;
              }
            }
          }

          .p-calendar {
            height: var(--height-inputs);

            .p-button.p-button-icon-only {
              padding: 0;
              width: 2rem;
              background-color: transparent;
              border: 1px solid var(--color-primary3);

              svg * {
                fill: var(--color-primary3);
              }
            }

            .p-datepicker {
              transform: scale(0.7);
            }
          }

          &-radios {
            display: flex;
            align-items: center;
            gap: 12px;
            height: var(--height-inputs);

            .p-radiobutton {
              width: 18px;
              height: 18px;
              margin-right: 5px;

              .p-radiobutton-box {
                width: inherit;
                height: inherit;
              }
            }
          }

          input[type=text] {

            &::placeholder {
              font-size: calc(var(--font-size-inputs) - 1px);
            }

            // &.input-info {
            //   &:disabled {
            //     background-color: #fff;
            //     border: none;
            //   }
            // }

            &:disabled {
              background-color: var(--color-disabled);
            }
          }

          input[type=date] {
            font-size: var(--font-size-inputs);
            height: var(--height-inputs);
          }

          input[type=radio] {
            margin-right: 5px;
          }

          select {
            height: var(--height-inputs);
            font-size: var(--font-size-inputs);
          }
        }
      }

      &-tabla {
        table {
          border-collapse: collapse;

          thead {

            tr {
              th {
                text-align: left;
                font-size: 12px;
                padding: 0.5rem 0.25rem;
                width: inherit;

                input {
                  width: 100%;
                }

                i {
                  cursor: pointer;
                  color: var(--color-primary1);
                  margin-left: 5px;
                }
              }
            }

            tr:nth-child(1) {
              border-bottom: 3px solid var(--color-primary2);
            }

            tr:nth-child(2) {
              border-bottom: 1px solid #ECF0EC;

              th {
                margin: 10px 0;
              }
            }
          }

          tbody {
            tr {
              border-bottom: 1px solid #ECF0EC;

              td {
                font-size: 12px;
                padding: 0.5rem 0.25rem;

                i {
                  cursor: pointer;
                  color: var(--color-primary1);
                  margin-right: 5px;
                }

                &>.estado {
                  display: inline-block;
                  text-align: center;
                  color: #fff;
                  background-color: #000;
                  padding: 3px 12px;
                  border-radius: 50px;
                  font-size: 11px;
                  width: calc(100% - 1rem);

                  &-media {
                    background-color: #0059A9;
                  }

                  &-alta {
                    background-color: #C60000;
                  }

                  &-baja {
                    background-color: #006540;
                  }
                }
              }
            }

            tr:nth-child(2n-1) {
              background-color: #F3FFF6;
            }
          }
        }
      }
    }
  }
}